DATABASE_URL=https://wfpzcfevypgrmprnixnx.supabase.co
SUPABASE_JWT_SECRET=tchg7fRlSypcmOq1uTp3TR0KC+Ds+MhZeJgpZw8Zjv/YJWDlGvJmEWYCwhg/Ogh36jzgN8Voi6PZH94KwQf/Mw==
HTTP_ADDR=:8080
CORS_ORIGINS=http://localhost:5173,http://localhost:19006
